
h1{
    text-align: center;
    text-decoration-color: blue;
}



h2{
   text-align: center;
   background-image:C:\Users\abdul\OneDrive\Desktop\new\img.jpeg ;


}
p{
    text-align: center;
}
h3{
    text-align: center;
    text-size-adjust: 38;
}
p{
    text-align: center;
}